In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime

In [2]:
# Download Hourly data for last 1 year
import yfinance as yf
nvidia = yf.Ticker("NVDA")
period = '2y'
df_nvidia_hourly = nvidia.history(period=period, interval='1h')
df_nvidia_hourly.to_csv('downloads/df_nvidia_stock_hourly_history.csv')

In [3]:
df_nvidia_hourly = pd.read_csv('downloads/df_nvidia_stock_hourly_history.csv')
df_nvidia_hourly.head()

,Datetime,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2024-02-05 09:30:00-05:00,67.699997,69.496994,67.699997,68.159729,24109963,0.0,0.0
1,2024-02-05 10:30:00-05:00,68.153999,68.370003,67.205002,68.139000,9631229,0.0,0.0
2,2024-02-05 11:30:00-05:00,68.134995,69.169991,68.126999,68.960999,7254954,0.0,0.0
3,2024-02-05 12:30:00-05:00,68.965004,69.180000,68.500000,68.882500,5901401,0.0,0.0
4,2024-02-05 13:30:00-05:00,68.871864,69.000000,68.614426,68.950500,4500914,0.0,0.0

In [4]:
df_nvidia_hourly_cleaned = df_nvidia_hourly[['Datetime', 'Open', 'High', 'Low', 'Close', 'Volume']].copy()
df_nvidia_hourly_cleaned.shape

(3474, 6)

In [5]:
df_nvidia_hourly_cleaned.dtypes

Datetime        str
Open        float64
High        float64
Low         float64
Close       float64
Volume        int64
dtype: object

In [6]:
df_nvidia_hourly_cleaned['Datetime'] = pd.to_datetime(df_nvidia_hourly_cleaned['Datetime'], utc=True)
df_nvidia_hourly_cleaned['Datetime'] = df_nvidia_hourly_cleaned['Datetime'].dt.tz_localize(None)
# df_nvidia_hourly_cleaned['Datetime'] = df_nvidia_hourly_cleaned['Datetime'].dt.tz_convert('Asia/Kolkata')
df_nvidia_hourly_cleaned.dtypes

Datetime    datetime64[us]
Open               float64
High               float64
Low                float64
Close              float64
Volume               int64
dtype: object

In [7]:
df_nvidia_hourly_cleaned.head()

             Datetime       Open       High        Low      Close    Volume
0 2024-02-05 14:30:00  67.699997  69.496994  67.699997  68.159729  24109963
1 2024-02-05 15:30:00  68.153999  68.370003  67.205002  68.139000   9631229
2 2024-02-05 16:30:00  68.134995  69.169991  68.126999  68.960999   7254954
3 2024-02-05 17:30:00  68.965004  69.180000  68.500000  68.882500   5901401
4 2024-02-05 18:30:00  68.871864  69.000000  68.614426  68.950500   4500914

In [8]:
df_nvidia_hourly_cleaned['Date'] = df_nvidia_hourly_cleaned['Datetime'].dt.date
df_nvidia_hourly_cleaned['Time'] = df_nvidia_hourly_cleaned['Datetime'].dt.time
df_nvidia_hourly_cleaned['Day'] = df_nvidia_hourly_cleaned['Datetime'].dt.day
df_nvidia_hourly_cleaned['Day of Week'] = df_nvidia_hourly_cleaned['Datetime'].dt.dayofweek
df_nvidia_hourly_cleaned['Month'] = df_nvidia_hourly_cleaned['Datetime'].dt.month
df_nvidia_hourly_cleaned['Year'] = df_nvidia_hourly_cleaned['Datetime'].dt.year

df_nvidia_hourly_cleaned.head()

,Datetime,Open,High,Low,Close,Volume,Date,Time,Day,Day of Week,Month,Year
0,2024-02-05 14:30:00,67.699997,69.496994,67.699997,68.159729,24109963,2024-02-05,14:30:00,5,0,2,2024
1,2024-02-05 15:30:00,68.153999,68.370003,67.205002,68.139000,9631229,2024-02-05,15:30:00,5,0,2,2024
2,2024-02-05 16:30:00,68.134995,69.169991,68.126999,68.960999,7254954,2024-02-05,16:30:00,5,0,2,2024
3,2024-02-05 17:30:00,68.965004,69.180000,68.500000,68.882500,5901401,2024-02-05,17:30:00,5,0,2,2024
4,2024-02-05 18:30:00,68.871864,69.000000,68.614426,68.950500,4500914,2024-02-05,18:30:00,5,0,2,2024

In [9]:
df_nvidia_hourly_cleaned.to_csv('downloads/nvidia_stock_hourly_data.csv')