In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime

In [ ]:
# Download Hourly data for last 1 year
# import yfinance as yf
# nvidia = yf.Ticker("NVDA")
# period = '2y'
# df_nvidia_hourly = nvidia.history(period=period, interval='1h')
# df_nvidia_hourly.to_csv('df_nvidia_stock_hourly_history.csv')

In [11]:
df_nvidia_hourly = pd.read_csv('df_nvidia_stock_hourly_history.csv')
df_nvidia_hourly.head()

,Datetime,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2023-12-04 09:30:00-05:00,45.750000,45.924999,45.206001,45.289497,13940047,0.0,0.0
1,2023-12-04 10:30:00-05:00,45.277000,45.388000,45.010002,45.306000,7404850,0.0,0.0
2,2023-12-04 11:30:00-05:00,45.303501,45.678001,45.168999,45.607990,4720700,0.0,0.0
3,2023-12-04 12:30:00-05:00,45.610001,45.709991,45.340000,45.353851,3600694,0.0,0.0
4,2023-12-04 13:30:00-05:00,45.348000,45.459999,45.123001,45.263969,3726418,0.0,0.0

In [32]:
df_nvidia_hourly_cleaned = df_nvidia_hourly[['Datetime', 'Open', 'High', 'Low', 'Close', 'Volume']].copy()
df_nvidia_hourly_cleaned.shape

(3487, 6)

In [33]:
df_nvidia_hourly_cleaned.dtypes

Datetime     object
Open        float64
High        float64
Low         float64
Close       float64
Volume        int64
dtype: object

In [34]:
df_nvidia_hourly_cleaned['Datetime'] = pd.to_datetime(df_nvidia_hourly_cleaned['Datetime'], utc=True)
df_nvidia_hourly_cleaned['Datetime'] = df_nvidia_hourly_cleaned['Datetime'].dt.tz_localize(None)
# df_nvidia_hourly_cleaned['Datetime'] = df_nvidia_hourly_cleaned['Datetime'].dt.tz_convert('Asia/Kolkata')
df_nvidia_hourly_cleaned.dtypes

Datetime    datetime64[ns]
Open               float64
High               float64
Low                float64
Close              float64
Volume               int64
dtype: object

In [35]:
df_nvidia_hourly_cleaned.head()

             Datetime       Open       High        Low      Close    Volume
0 2023-12-04 14:30:00  45.750000  45.924999  45.206001  45.289497  13940047
1 2023-12-04 15:30:00  45.277000  45.388000  45.010002  45.306000   7404850
2 2023-12-04 16:30:00  45.303501  45.678001  45.168999  45.607990   4720700
3 2023-12-04 17:30:00  45.610001  45.709991  45.340000  45.353851   3600694
4 2023-12-04 18:30:00  45.348000  45.459999  45.123001  45.263969   3726418

In [36]:
df_nvidia_hourly_cleaned['Date'] = df_nvidia_hourly_cleaned['Datetime'].dt.date
df_nvidia_hourly_cleaned['Time'] = df_nvidia_hourly_cleaned['Datetime'].dt.time
df_nvidia_hourly_cleaned['Day'] = df_nvidia_hourly_cleaned['Datetime'].dt.day
df_nvidia_hourly_cleaned['Day of Week'] = df_nvidia_hourly_cleaned['Datetime'].dt.dayofweek
df_nvidia_hourly_cleaned['Month'] = df_nvidia_hourly_cleaned['Datetime'].dt.month
df_nvidia_hourly_cleaned['Year'] = df_nvidia_hourly_cleaned['Datetime'].dt.year

df_nvidia_hourly_cleaned.head()

,Datetime,Open,High,Low,Close,Volume,Date,Time,Day,Day of Week,Month,Year
0,2023-12-04 14:30:00,45.750000,45.924999,45.206001,45.289497,13940047,2023-12-04,14:30:00,4,0,12,2023
1,2023-12-04 15:30:00,45.277000,45.388000,45.010002,45.306000,7404850,2023-12-04,15:30:00,4,0,12,2023
2,2023-12-04 16:30:00,45.303501,45.678001,45.168999,45.607990,4720700,2023-12-04,16:30:00,4,0,12,2023
3,2023-12-04 17:30:00,45.610001,45.709991,45.340000,45.353851,3600694,2023-12-04,17:30:00,4,0,12,2023
4,2023-12-04 18:30:00,45.348000,45.459999,45.123001,45.263969,3726418,2023-12-04,18:30:00,4,0,12,2023

In [37]:
df_nvidia_hourly_cleaned.to_csv('nvidia_stock_hourly_data.csv')